# Les tableaux

Un tableau est une structure de données permettant de stocker en mémoire vive un grand nombre de données par l'intermédiaire d'une seule variable.

Python dispose de ce type de structure de données. Il s'agit du type `list`.

**ATTENTION :** le terme liste désigne une structure de données particulière. Un tableau a une taille définie lors de sa création. La taille d'une liste est variable. L'accès à une donnée d'un tableau prend toujours le même temps, quel que soit la taille du tableau et la position de la donnée dans le tableau. Dans le cas d'une liste, plus la liste est longue et plus la donnée est située vers le bout de la liste, plus le temps d'accès sera grand. Python appelle `list` une structure de type tableau (avec un temps d'accès fixe) dont la taille peut varier comme une liste.

## Création d'un tableau
Pour créer un tableau en Python, il n'y a rien de plus simple. Il suffit d'affecter à une variable les différents éléments du tableau placés entre crochets et séparés par des virgules.

En clair, on écrit :

In [25]:
# Création du tableau
monTableau = [ 1, 4, 8.5, -3, "Hello", 759 ]
# Affichage de monTableau
print(monTableau)

[1, 4, 8.5, -3, 'Hello', 759]

Le contenu d'un tableau peut être affiché à l'aide de la fonction `print`.

Python nous autorise à mixer les types des éléments d'un tableau. Ainsi, le tableau précédent contient des `int`, un `float`, un `str`. D'autres langages imposent que tous les éléments d'un tableau soient du même type. Il est donc recommandé d'éviter autant que possible de mixer les types des données dans un tableau.

Il est possible de créer un tableau vide.

In [26]:
autreTableau = []
print(autreTableau)

[]

Un tableau étant du type `list`, une autre manière de faire est la suivante:

In [27]:
tableau3 = list()
print(tableau3)

[]

> Bah ça sert à rien un tableau vide

En soi, effectivement ça ne sert à rien. Mais on peut y ajouter des choses.

## La méthode append
Pour commencer, une méthode est une fonction associée à une variable (ou, devrait-on dire à un objet, mais le concept de programmation orientée objet ne sera abordé que l'an prochain). Si vous parlez de fonction, ce n'est pas grave. Mais ne soyez pas étonné si vous entendez parfois le mot méthode.

La méthode `append`, donc, permet d'insérer des données au bout d'un tableau :

In [28]:
autreTableau.append(1) # N'oubliez pas d'exécuter la cellule ci-dessus pour créer la variable autreTableau
autreTableau.append(8)
print(autreTableau)    # Si vous exécutez plusieurs fois cette cellule, le tableau va grandir

[1, 8]

### Exercice 1: des 20 par milliers
Maintenant, vous allez vous entrainer en créant, dans la variable `ex1` un tableau contenant 1000 fois la valeur 20 (Imaginez un peu le bulletin. Ca fait rêver, non).

Bien sûr, il est interdit d'écrire `ex1 = [ 20, 20, 20, ... ]` en tapant 1000 fois 20 dans la liste. De toute façon, j'ai les moyens de compter et s'il n'y en a pas exactement 1000, ça va se transformer en un tableau de 1000 zéros.

Hop, au boulot :

In [24]:
# Exercice 1:
ex1=[]
for i in range(1000):
    ex1.append(20)
print(ex1)

[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20]

Alors, ça sert toujours à rien les tableaux vides?

Il existe encore une autre façon de créer un tableau:

## Les tableaux par compréhension
Lorsque le tableau peut être rempli d'une manière régulière, on peut utiliser un tableau par compréhension. L'idée est d'utiliser une boucle for **à l'intérieur des crochets** dès la création du tableau.

In [29]:
jackpot = [ 7 for i in range(3) ]
print(jackpot)

[7, 7, 7]

On peut aussi se servir de l'index de la boucle for:

In [30]:
compte = [ i for i in range(10) ]
print(compte)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Et on peut aussi faire des calculs impliquants cet index:

In [31]:
carres = [ i*i for i in range(10) ]
print(carres)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Avec un `if`, on peut même sélectionner certaines valeurs de l'index répondant à un critère donné:

In [32]:
pairs = [ i for i in range(10) if i % 2 == 0 ]
print(pairs)

[0, 2, 4, 6, 8]

### Exercice 2 : Des 20 par milliers, le retour
Créez un tableau par compréhension contenant 1000 fois le nombre 20.

In [33]:
bulletin = [20 for i in range(1000)]
print(bulletin)

[20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20]

### Exercice 3 : Impair et passe
Créez un tableau par compréhension de tous les nombres impairs de 0 à 20.

In [42]:
impairs = [i for i in range(20) if i % 2 != 0] #2 * i + 1 for i in range(10)
print(impairs)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### Exercice 4 : Compte à rebours
Créez un tableau par compréhension pour compter à rebours de 5 à 0.

In [36]:
ignition = [i for i in range(5,-1,-1)] #5 - i for i in range(6)
print(ignition)

[5, 4, 3, 2, 1, 0]

### Exercice 5 : Carré de 3
Créez un tableau par compréhension des carrés de tous les multiples de 3 de 1 à 30.

In [47]:
carre3 = [i*i for i in range(0,31,3)]
"""
carre3= [i**2 for i in range (1,31) if i%3==0 ]
"""
print(carre3)

[0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

## Lecture d'un élément d'un tableau
Comme les chaînes de caractères, un tableau est un type de variable itérable. Pour accéder à l'un de ses éléments, il suffit de mettre l'index de position de l'élément entre crochets après le nom du tableau :

In [48]:
tableau = [ 3, 8, 4, 6, 12 ]
a = tableau[2]
print(a)

4

## Autres similarités avec `str`
De même que pour les `str`, on peut extraire une portion de tableau :

In [49]:
print(tableau[1:3])

[8, 4]

On peut concaténer des tableaux :

In [55]:
tab1 = [ 1, 2, 3 ]
tab2 = [ 4, 5, 6 ]
print(tab1 + tab2)
print(tab2 + tab1)
#operation pythonesque : on pourra que le faire en python

[1, 2, 3, 4, 5, 6]
[4, 5, 6, 1, 2, 3]

Attention, la concaténation et l'extraction d'une portion de tableau sont assez spécifiques à Python. Pour le faire dans d'autres langages, il peut être nécessaire de coder au préalable soi-même ces fonctionnalités.

## Modification d'un élément dans un tableau
On peut affecter le contenu d'un élément d'un tableau comme on le fait pour une variable et précisant le nom de la variable contenant le tableau et l'index de position de l'élément à modifier :

In [51]:
tableau = [ 1, 2, 3, 4 ]
print(tableau)
tableau[2] = 5
print(tableau)

[1, 2, 3, 4]
[1, 2, 5, 4]

Ca, on ne pouvait pas le faire avec un `str`.

Comme on utilise l'affectation, on peut faire tout ce qu'on fait lors de l'affetation d'une variable classique :

In [52]:
tableau = [ 6, 7, 8, 9 ]
print(tableau)
tableau[1] += 1 # incrémentation
print(tableau)

[6, 7, 8, 9]
[6, 8, 8, 9]

## Parcours d'un tableau
On peut parcourir un tableau comme on le fait avec un `str` en utilisant une boucle for:

In [53]:
tableau = [ 1, 2, 3, 4 ]
print(tableau)
for i in range(len(tableau)):
    tableau[i] = tableau[i] + 1 # Incrémentation de chaque élément
print(tableau)

[1, 2, 3, 4]
[2, 3, 4, 5]

La façon de faire précédente permet de connaitre l'index de position dans le tableau. S'il n'est pas nécessaire, on peut toujours utiliser la boucle for d'une autre manière:

In [54]:
print(tableau)
for element in tableau:
    element = element + 1
    print(element) #accès en lecture
print(tableau)

[2, 3, 4, 5]
3
4
5
6
[2, 3, 4, 5]

On remarque que, de cette manière, la variable qui suit le `for` contient à chaque tour de boucle l'élément suivant dans le tableau. Cependant, si cela permet la lecture du tableau, modifier cette variable n'a pas d'impact sur le contenu réel du tableau.

Et hop, quelques exercices !

### Exercice 6 : Somme des éléments d'un tableau
Ecrire une fonction qui prend en argument un tableau de nombres et renvoi la somme de ses éléments.

In [57]:
def somme(tableau):
    s = 0 # Un peu d'aide pour démarrer
    #a recuperer pour ex 9 
    for i in range(len(tableau)):
        s += tableau[i]
    return s

t = [ 5, 8, 67, 28, 39 ]
print(somme(t))

147

### Exercice 7 : Maximum d'un tableau
Ecrire une fonction qui prend en argument un tableau de nombres et renvoi la valeur de son élément le plus grand.

In [ ]:
def maximum(tableau):
    # A vous de jouer
    for i in range(len(tableau)):
        m = 0 
    
    return m

print(maximum(t))

### Exercice 8 : Moyenne d'un tableau
Ecrire une fonction qui prend en argument un tableau de nombres et renvoi la moyenne de ces nombres.

In [ ]:
def moyenne(tableau):
    
    return moy

print(moyenne(t))

### Exercice 9 : Moyenne pondérée
Pour calculer votre moyenne du trimestre dans une matière, vous devez tenir compte des coefficients de chaque devoir.

Nous allons créer une fonction qui prend en argument un tableau de notes et un tableau de coefficients et qui renvoi la moyenne pondérée (c'est-à-dire tenant compte des coefficients).

Attention: les deux tableaux doivent avoir le même nombre d'éléments.

Une des fonctions écrites plus haut peut être utile. N'hésitez pas à l'appeler plutôt que de la réécrire. Chut: je n'ai rien dit.

In [ ]:
def moyenneCoeff(notes, coeffs):
    
    return moy

mesNotes= [ ] # A compléter
mesCoeffs = [ ] # Là aussi

print(moyenneCoeff(mesNotes, mesCoeffs))

def somme(tableau):
    s = 0 # Un peu d'aide pour démarrer
    #a recuperer pour ex 9 
    for i in range(len(tableau)):
        s += tableau[i]
    return s

### Exercice 10 : Recherche dans un tableau
Ecrire une fonction qui prend en argument un tableau de nombre ainsi qu'un nombre cherché dans ce tableau. Cette fonction va renvoyer un tableau des index de position du nombre cherché dans le tableau.

Par exemple, `recherchePositions([ 2, 4, 5, 2, 6, 5 ], 2)` renverra `[ 0, 3 ]` 

`recherchePositions([ 2, 4, 5, 2, 6, 5 ], 5)` renverra `[ 2, 5 ]`

`recherchePositions([ 2, 4, 5, 2, 6, 5 ], 6)` renverra `[ 4 ]`

`recherchePositions([ 2, 4, 5, 2, 6, 5 ], 1)` renverra `[ ]`

In [ ]:
def recherchePositions(tableau, valeur):
    positions = []
    
    return positions

print(recherchePositions([ 2, 4, 5, 2, 6, 5 ], 2))
print(recherchePositions([ 2, 4, 5, 2, 6, 5 ], 5))
print(recherchePositions([ 2, 4, 5, 2, 6, 5 ], 6))
print(recherchePositions([ 2, 4, 5, 2, 6, 5 ], 1))